<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinling.stock.mapper.SectorFuturesMappingMapper">

    <resultMap id="MappingResult" type="com.xinling.stock.domain.entity.SectorFuturesMapping">
        <id column="id" property="id" />
        <result column="sector_id" property="sectorId" />
        <result column="futures_id" property="futuresId" />
        <result column="correlation_type" property="correlationType" />
        <result column="weight" property="weight" />
        <result column="logic_desc" property="logicDesc" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <sql id="selectColumns">
        m.id, m.sector_id, m.futures_id, m.correlation_type, m.weight, m.logic_desc,
        m.create_time, m.update_time, m.is_deleted
    </sql>

    <select id="selectBySectorId" resultMap="MappingResult">
        SELECT <include refid="selectColumns" /> FROM stk_sector_futures_mapping m
        WHERE m.sector_id = #{sectorId} AND m.is_deleted = 0
        ORDER BY m.weight DESC
    </select>

    <select id="selectByFuturesId" resultMap="MappingResult">
        SELECT <include refid="selectColumns" /> FROM stk_sector_futures_mapping m
        WHERE m.futures_id = #{futuresId} AND m.is_deleted = 0
    </select>

    <select id="selectAll" resultMap="MappingResult">
        SELECT <include refid="selectColumns" /> FROM stk_sector_futures_mapping m WHERE m.is_deleted = 0
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO stk_sector_futures_mapping (sector_id, futures_id, correlation_type, weight, logic_desc, create_time)
        VALUES (#{sectorId}, #{futuresId}, #{correlationType}, #{weight}, #{logicDesc}, NOW())
    </insert>

    <update id="updateById">
        UPDATE stk_sector_futures_mapping
        <set>
            <if test="correlationType != null">correlation_type = #{correlationType},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="logicDesc != null">logic_desc = #{logicDesc},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteBySectorId">
        UPDATE stk_sector_futures_mapping SET is_deleted = 1 WHERE sector_id = #{sectorId}
    </delete>

</mapper>
